<template>
    <div class="page-container company-list-page">
        <standart-template>
            <div class="container">
                <div class="row mt-1">
                    <v-breadcrumbs :items="Breadcrumbs" divider="/" />
                    <page-header title="Список сервисов" back-url="/">
                        <router-link to="/company/create">
                            <v-btn small tile color="success">
                                <v-icon left>
                                    fas fa-plus
                                </v-icon>
                                <span class="tool-text">
                                    Создать новый сервис
                                </span>
                            </v-btn>
                        </router-link>
                    </page-header>
                    <div class="col-12">
                        <v-data-table dense :headers="TableHeaders" :items="TableItems" :items-per-page="15" item-key="name" class="elevation-1">
                            <template v-slot:item.name="{ item }">
                                <div @click="SetActiveCompany(item.uuid)" class="cursor-pointer font-weight-medium text-primary">
                                    {{ item.name }}
                                </div>
                            </template>
                            <template v-slot:item.status="{ item }">
                                <span :class="'badge bg-' + GetClassBadgeFromCompanyStatus(item)">{{ GetTextBadgeFromCompanyStatus(item) }}</span>
                            </template>
                        </v-data-table>
                    </div>
                </div>
            </div>
        </standart-template>
    </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { Action, Getter } from "vuex-class";
import CompanyTableRowType from "@/struct/company/CompanyTableRowType";
import ECompanyEnum from "@/struct/company/ECompanyEnum";
import BreadcrumbsItemType from "@/struct/ui/breadcrumbs/BreadcrumbsItemType";
import PageHeader from "@/components/UI/PageHeader.vue";
import StandartTemplate from "@/components/Template/StandartTemplate.vue";
import TableHeaderItemType from "@/struct/ui/Table/TableHeaderItemType";
import DataCompanyList from "@/data/Company/DataCompanyList";
import ApiCompany from "@/api/ApiCompany";
import ApiEnter from "@/api/ApiEnter";

@Component({
    components: { StandartTemplate, PageHeader }
})
export default class CompanyList extends Vue {
    @Getter("getCurrentCompanyList") private GetCurrentCompanyList!: CompanyTableRowType[] | undefined;
    @Action("doSetCurrentCompanyItem") private DoSetCurrentCompanyItem!: (company_uuid: string | undefined) => Promise<void>;
    private TableItems: CompanyTableRowType[] | undefined = [];

    private Breadcrumbs!: BreadcrumbsItemType[];
    private TableHeaders: TableHeaderItemType[] = DataCompanyList.TableHeaders;

    private created(): void {
        this.Breadcrumbs = [
            {
                to: "/",
                text: "Главная"
            },
            {
                disabled: true,
                to: "/company/list",
                text: "Компании"
            }
        ];
    }

    private async GetCompanies(): Promise<void> {
        const response = await ApiCompany.GetCompanyListFromSession(ApiEnter.CurrentSessionUUID as string);
        if (response != undefined) {
            this.TableItems = response;
        }
    }

    private mounted(): void {
        document.title = "Список сервисов";
        this.GetCompanies();
    }

    private GetTextBadgeFromCompanyStatus(company: CompanyTableRowType): string {
        switch (company.status) {
            case ECompanyEnum.CompanyStatus.Active:
                return "Активна";
            case ECompanyEnum.CompanyStatus.NoActive:
                return "НеАктивна";
            case ECompanyEnum.CompanyStatus.Banned:
                return "Заблокирована";
            case ECompanyEnum.CompanyStatus.Deleted:
                return "Удалена";
        }
        return "Не Известно";
    }

    private GetClassBadgeFromCompanyStatus(company: CompanyTableRowType): string {
        switch (company.status) {
            case ECompanyEnum.CompanyStatus.Active:
                return "success";
            case ECompanyEnum.CompanyStatus.NoActive:
                return "warning";
            case ECompanyEnum.CompanyStatus.Banned:
                return "danger";
            case ECompanyEnum.CompanyStatus.Deleted:
                return "info";
        }
        return "info";
    }

    private GetStatusName(status: ECompanyEnum.CompanyStatus): string {
        return ECompanyEnum.CompanyStatus[status];
    }

    private SetActiveCompany(uuid: string): void {
        this.DoSetCurrentCompanyItem(uuid);
    }
}
</script>
