<template>
    <div class="page-container company-edit-page">
        <standart-template>
            <div class="container">
                <div class="row" v-if="HasLoadedForm == false">
                    <div class="col-8 offset-2">
                        <v-progress-linear indeterminate color="cyan" />
                    </div>
                </div>
                <div class="row mt-1" v-else>
                    <v-breadcrumbs :items="Breadcrumbs" divider="/" />
                    <page-header :title="'Редактирование компании: (' + GetCurrentCompanyItem.id + ') ' + GetCurrentCompanyItem.name" :back-url="'/company/dashboard/' + GetCurrentCompanyItem.uuid" />
                    <div class="col-12">
                        <div class="well">
                            <div class="well-wrapper">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="row">
                                            <form-generator ref="company-form-generator" title="Данные о сервисе"
                                                            :form-model="CompanyInfoModel" />
                                        </div>
                                    </div>
                                    <div class="col-12 text-center mt-4 pt-3 mb-5 border-top">
                                        <div class="btn-group" role="group" aria-label="Basic example">
                                            <v-btn color="success" @click="OnClickSubmit()" :loading="HasRequest" :disabled="HasRequest">Сохранить Изменения</v-btn>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </standart-template>
    </div>
</template>

<script lang="ts">
import { Component, Ref, Vue } from "vue-property-decorator";
import sweetalert from "sweetalert";
import ApiCompany from "@/api/ApiCompany";
import ApiEnter from "@/api/ApiEnter";
import { Action, Getter, Mutation } from "vuex-class";
import CompanyTableRowType from "@/struct/company/CompanyTableRowType";
import CompanyLegalInfoTableRowType from "@/struct/company/CompanyLegalInfoTableRowType";
import CompanyBankInfoTableRowType from "@/struct/company/CompanyBankInfoTableRowType";
import CompanyContactInfoTableRowType from "@/struct/company/CompanyContactInfoTableRowType";
import BreadcrumbsItemType from "@/struct/ui/breadcrumbs/BreadcrumbsItemType";
import PageHeader from "@/components/UI/PageHeader.vue";
import FormGenerator from "@/components/UI/Form/FormGenerator.vue";
import DataCompanyEdit from "@/data/Company/DataCompanyEdit";
import { FormGeneratorListInputModelType } from "@/struct/form/FormGenerator/FormGeneratorListInputModelType";
import StandartTemplate from "@/components/Template/StandartTemplate.vue";

@Component({
    components: { StandartTemplate, PageHeader, FormGenerator }
})
export default class CompanyEdit extends Vue {

    @Getter("getCurrentCompanyList") private GetCurrentCompanyList!: CompanyTableRowType[] | undefined;
    @Getter("getCurrentCompanyItem") private GetCurrentCompanyItem!: CompanyTableRowType | undefined;

    @Action("doSetCurrentCompanyItem") private DoSetCurrentCompanyItem!: (company_uuid: string | undefined) => Promise<void>;
    @Action("doUpdateCurrentCompanyItem") private DoUpdateCurrentCompanyItem!: () => Promise<void>;
    @Action("doUpdateCurrentCompanyList") private DoUpdateCurrentCompanyList!: () => Promise<void>;

    @Mutation("setCurrentCompanyItem") private SetCurrentCompanyItem!: (payload: CompanyTableRowType | null) => void;

    private Breadcrumbs!: BreadcrumbsItemType[];
    @Ref("company-form-generator") private CompanyFormGenerator!: FormGenerator;
    private CompanyInfoModel: FormGeneratorListInputModelType = DataCompanyEdit.CompanyInfoModel;


    private HasLoadedForm!: boolean;
    private HasRequest!: boolean;
    private CurrentCompanyUUID!: string;

    private created() {
        this.Breadcrumbs = DataCompanyEdit.GetBreadcrumbs(this.GetCurrentCompanyItem);
        this.HasLoadedForm = false;
        this.HasRequest = false;

        this.CurrentCompanyUUID = this.$route.params.company_uuid;
        this.DoLoadForm();
    }

    private async DoLoadForm(): Promise<void> {
        const companyInfo: any = await ApiCompany.GetCompanyItemFromSession(ApiEnter.CurrentSessionUUID as string, this.CurrentCompanyUUID);
        if (companyInfo == undefined) {
            sweetalert({
                title: "Упс!",
                text: "Компания по вашему запросу - отсуствует!",
                icon: "error"
            }).then(() => {
                this.$router.push("/");
            });
            return;
        }

        document.title = "Редактирование сервис: (" + companyInfo.id + ") " + companyInfo.name;
        this.SetCurrentCompanyItem(companyInfo);


        this.SetInputValue(this.CompanyInfoModel.Name, companyInfo.name);

        this.SetInputValue(this.CompanyInfoModel.Address, companyInfo.addr);
        this.SetInputValue(this.CompanyInfoModel.Phone, companyInfo.phone);


        this.HasLoadedForm = true;
        this.$forceUpdate();
    }

    private mounted(): void {
        if (this.GetCurrentCompanyItem == undefined) {
            return;
        }

        document.title = "Редактирование компании...";
    }

    private async OnClickSubmit(): Promise<void> {
        const validate: boolean = this.CompanyFormGenerator.CurrentForm.validate();

        if (!validate) {
            sweetalert({
                title: "Ошибка в форме!",
                text: "Вы заполнили не все поля или есть ошибки!",
                icon: "error"
            });
            return;
        }


        if (ApiEnter.CurrentSessionUUID != undefined) {
            this.HasRequest = true;
            this.$forceUpdate();

            //   await ApiCompany.UpdateCompany(ApiEnter.CurrentSessionUUID, this.CurrentCompanyUUID, this.CompanyInfoModel.Name.value, this.CompanyInfoModel.Address.value as string, this.CompanyInfoModel.Phone.value as string);

            this.DoUpdateCurrentCompanyItem();
            this.DoUpdateCurrentCompanyList();

            this.HasRequest = false;
            this.$forceUpdate();

            sweetalert({
                title: "Успех!",
                text: `Изменения успешно внесены!`,
                icon: "success"
            }).then(() => {
                this.$router.push(`/company/dashboard/${this.CurrentCompanyUUID}`);
            });
        }
    }

    private OnClickHelp(): void {
        sweetalert({
            title: "Упс...",
            text: "Раздел помощи на стадии разработки, функционал будет доступен позже.",
            icon: "info"
        });
    }

    private SetInputValue(model: any, line: string): void {
        model.value = line;
    }
}
</script>
