<template>
    <div class="page-container">
        <standart-template>
            <div class="container">
                <div class="row mt-1">
                    <v-breadcrumbs :items="Breadcrumbs" divider="/" />
                    <page-header title="Список устройств" />
                </div>
                <div class="mt-1 col-12">
                    <v-dialog
                        v-model="NewDevice"
                        max-width="600"
                    >
                        <template v-slot:activator="{ on, attrs }">
                            <v-btn
                                color="primary"
                                dark
                                v-bind="attrs"
                                v-on="on"
                            >
                                Добавить устройство
                            </v-btn>
                        </template>

                        <v-card>
                            <v-card-title class="text-h5 flex justify-space-between">
                                <div>УСТРОЙСТВО</div>
                                <v-btn icon @click="NewDevice = false">
                                    <v-icon>
                                        fas fa-times-circle
                                    </v-icon>
                                </v-btn>

                            </v-card-title>

                            <v-card-text class="text-black"> Дата создания: {{ CurrentDate }}</v-card-text>
                            <v-card-text>
                                <form-generator ref="form-generator" :form-model="DataCreateModel" />
                            </v-card-text>
                            <v-card-actions>
                                <v-spacer />

                                <v-btn
                                    color="grey text-white darken-1"
                                    @click="NewDevice = false"
                                >
                                    Отмена
                                </v-btn>
                                <v-btn
                                    color="green text-white darken-1"
                                    @click="OnSubmit()"
                                >
                                    Сохранить
                                </v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>
                </div>
                <div class="mt-1 col-12">
                    <v-data-table dense :headers="TableHeaders" :items="TableItems" :items-per-page="15" item-key="model_uuid" class="elevation-1">
                        <template v-slot:item.entry.name="{item}">
                          {{item.entry.name + ' ' + item.entry.model_id}}
                        </template>
                        <template v-slot:item.action="{item}">
                            <div class="row table-action">
                                <div class="table-action__item">
                                    <v-switch
                                        dense
                                        v-model="item.entry.status"
                                        @change="DeactivateModel(item.entry.status, item.entry.uuid)"
                                    />
                                </div>
                            </div>
                        </template>
                    </v-data-table>
                </div>
            </div>
        </standart-template>
    </div>
</template>

<script lang="ts">
import { Vue, Component, Ref } from "vue-property-decorator";
import StandartTemplate from "@/components/Template/StandartTemplate.vue";
import PageHeader from "@/components/UI/PageHeader.vue";

import TableHeaderItemType from "@/struct/ui/Table/TableHeaderItemType";
import BreadcrumbsItemType from "@/struct/ui/breadcrumbs/BreadcrumbsItemType";
import DataDevicesList from "@/data/Devices/DataDevicesList";
import ApiHandbook from "@/api/ApiHandbook";
import ApiEnter from "@/api/ApiEnter";
import { IDeviceTableRow } from "@/struct/handbook/IDeviceTableRow";
import IEntryResponse from "@/struct/handbook/IEntryResponse";
import { FormGeneratorListInputModelType } from "@/struct/form/FormGenerator/FormGeneratorListInputModelType";
import FormGenerator from "@/components/UI/Form/FormGenerator.vue";
import sweetalert from "sweetalert";
import UtilDate from "@/util/Common/UtilDate";


@Component({
    components: { FormGenerator, StandartTemplate, PageHeader }
})
export default class SubscribeList extends Vue {
    private TableHeaders: TableHeaderItemType[] = DataDevicesList.TableHeaders;
    private Breadcrumbs: BreadcrumbsItemType[] = DataDevicesList.Breadcrumbs;
    private DataCreateModel: FormGeneratorListInputModelType = DataDevicesList.DeviceCreateModel;
    private NewDevice: boolean = false;
    private TableItems: IEntryResponse<IDeviceTableRow>[] | boolean = [];
    private CurrentDate: string = UtilDate.CurrentDate();
    @Ref("form-generator") private CreateFormGenerator!: FormGenerator;

    private async GetDevices(): Promise<void> {
        const response: IEntryResponse<IDeviceTableRow>[] | boolean = await ApiHandbook.GetList(ApiEnter.CurrentSessionUUID as string, "model");
        if (response != false) {
            if (typeof response !== "boolean") {
                response.sort((a: IEntryResponse<IDeviceTableRow>, b: IEntryResponse<IDeviceTableRow>) => Number(a.entry.status) - Number(b.entry.status));
                response.sort((a: IEntryResponse<IDeviceTableRow>, b: IEntryResponse<IDeviceTableRow>) => a.refs.model?.name.localeCompare(b.refs.model?.name));
                this.TableItems = response;
            }

        }
    }


    private created() {
        this.GetDevices();
    }

    private async OnSubmit(): Promise<void> {
        const validate: boolean = this.CreateFormGenerator.CurrentForm.validate();

        if (validate) {
            const response = await ApiHandbook.CreateNewModel(ApiEnter.CurrentSessionUUID as string, this.DataCreateModel.Name.value as string, this.DataCreateModel.Model.value as string);
            this.NewDevice = false;
            this.ClearFormModelDialog();
            sweetalert({
                title: "Успешно",
                text: "Новая модель успешно добавлена",
                icon: "success"
            });
            if (response) {
                this.GetDevices();
            }
        }
    }

    private ClearFormModelDialog(): void {
        this.DataCreateModel.Name.value = "";
        this.DataCreateModel.Model.value = "";
    }

    private async DeactivateModel(status: boolean, uuid: string): Promise<void> {
        const response = await ApiHandbook.ModelUpdate(ApiEnter.CurrentSessionUUID as string, status, uuid);
    }
}
</script>
<style lang="less">
.table-action {
    flex-wrap: nowrap;
    align-items: center;
    width: max-content;

    &__item {
        width: max-content;
    }
}
</style>
