<template>
    <div class="page-container">
        <standart-template>
            <div class="container">
                <div class="row mt-1">
                    <v-breadcrumbs :items="Breadcrumbs" divider="/" />
                    <page-header title="Список тарифов" />

                </div>
                <div class="mt-1 col-12">
                    <v-dialog
                        v-model="NewRate"
                        persistent
                        max-width="600"
                    >
                        <template v-slot:activator="{ on, attrs }">
                            <v-btn
                                color="primary"
                                dark
                                v-bind="attrs"
                                v-on="on"
                            >
                                Новый тариф
                            </v-btn>
                        </template>
                        <v-card>
                            <v-card-title class="text-h5 flex justify-space-between">
                                <div>ТАРИФ</div>
                                <v-btn icon @click="NewRate = false">
                                    <v-icon>
                                        fas fa-times-circle
                                    </v-icon>
                                </v-btn>

                            </v-card-title>
                            <v-card-text class="text-black font-weight-medium"> Дата создания: {{ CurrentDate }}</v-card-text>
                            <v-card-text>
                                <form-generator ref="form-generator" :form-model="RateCreateModel" />
                            </v-card-text>
                            <v-card-actions>
                                <v-spacer />

                                <v-btn
                                    color="grey text-white darken-1"
                                    @click="NewRate = false"
                                >
                                    Отмена
                                </v-btn>
                                <v-btn
                                    color="green text-white darken-1"
                                    @click="OnSubmit"
                                >
                                    Сохранить
                                </v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>
                </div>
                <div class="mt-1 col-12">
                    <v-data-table dense :headers="TableHeaders" :items="TableItems" :items-per-page="15" item-key="item.refs.origin_tariff.uuid" class="elevation-1">

                        <template v-slot:item.entry.type="{ item }">
                            {{ ValidateTariffType(item.entry.type) }}
                        </template>
                        <template v-slot:item.refs.model.name="{ item }">
                            {{ item.refs.model.name + ' ' + item.refs.model.model_id }}
                        </template>
                        <template v-slot:item.action="{ item }">
                            <div class="row table-action">
                                <div class="table-action__item">
                                    <v-btn
                                        icon
                                        @click="SetEditRateData(item.entry, item.refs.model)"
                                    >
                                        <v-icon>
                                            fas fa-pen
                                        </v-icon>
                                    </v-btn>
                                </div>
                            </div>
                        </template>
                    </v-data-table>
                </div>
                <v-dialog
                    v-model="EditRate"
                    persistent
                    max-width="600"
                >
                    <v-card>
                        <v-card-title class="text-h5 flex justify-space-between">
                            <div>Редактирование тарифа</div>
                            <v-btn icon @click="EditRate = false">
                                <v-icon>
                                    fas fa-times-circle
                                </v-icon>
                            </v-btn>

                        </v-card-title>
                        <v-card-text class="text-black font-weight-medium"> Дата создания: {{ EditData.date }}</v-card-text>
                        <v-card-text>
                            <form-generator ref="form-generator-edit" :form-model="RateEditModel" />
                        </v-card-text>
                        <v-card-actions>
                            <v-spacer />

                            <v-btn
                                color="grey text-white darken-1"
                                @click="EditRate = false"
                            >
                                Отмена
                            </v-btn>
                            <v-btn
                                color="green text-white darken-1"
                                @click="OnSubmitEditRate"
                            >
                                Сохранить
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
            </div>
        </standart-template>
    </div>
</template>

<script lang="ts">
import { Vue, Component, Ref } from "vue-property-decorator";
import StandartTemplate from "@/components/Template/StandartTemplate.vue";
import PageHeader from "@/components/UI/PageHeader.vue";

import TableHeaderItemType from "@/struct/ui/Table/TableHeaderItemType";
import BreadcrumbsItemType from "@/struct/ui/breadcrumbs/BreadcrumbsItemType";
import DataRateList from "@/data/Rate/DataRateList";
import ApiHandbook from "@/api/ApiHandbook";
import ApiEnter from "@/api/ApiEnter";
import { ITariffTableRow } from "@/struct/handbook/ITariffTableRow";
import IEntryResponse from "@/struct/handbook/IEntryResponse";
import { ETariffEnum } from "@/struct/handbook/ETariffEnum";
import FormGenerator from "@/components/UI/Form/FormGenerator.vue";
import { FormGeneratorListInputModelType } from "@/struct/form/FormGenerator/FormGeneratorListInputModelType";
import sweetalert from "sweetalert";
import UtilDate from "@/util/Common/UtilDate";
import { IDeviceTableRow } from "@/struct/handbook/IDeviceTableRow";

@Component({
    components: { FormGenerator, StandartTemplate, PageHeader }
})
export default class SubscribeList extends Vue {
    private TableHeaders: TableHeaderItemType[] = DataRateList.TableHeaders;
    private Breadcrumbs: BreadcrumbsItemType[] = DataRateList.Breadcrumbs;
    private RateCreateModel: FormGeneratorListInputModelType = DataRateList.RateCreateModel;
    private RateEditModel: FormGeneratorListInputModelType = DataRateList.RateEditModel;
    private TableItems: IEntryResponse<ITariffTableRow>[] | boolean = [];
    private NewRate: boolean = false;
    private EditRate: boolean = false;
    private CurrentDate: string = UtilDate.CurrentDate();
    private EditData = {
        date: "",
        uuid: ""
    }

    @Ref("form-generator") private RateFormGenerator!: FormGenerator;
    @Ref("form-generator-edit") private RateFormGeneratorEdit!: FormGenerator;

    private async GetTariff(): Promise<void> {
        const response: IEntryResponse<ITariffTableRow>[] | any = await ApiHandbook.GetList(ApiEnter.CurrentSessionUUID as string, "tariff");

        if (response != false) {
            console.log('response', response);

            this.TableItems = response;


            this.$forceUpdate();


        }
    }

    private async GetDevices(): Promise<void> {
        const response: IEntryResponse<IDeviceTableRow>[] | boolean = await ApiHandbook.GetList(ApiEnter.CurrentSessionUUID as string, "device");
        if (typeof response !== "boolean") {
            const models: any = [];
            response.forEach((item: IEntryResponse<IDeviceTableRow>) => {
                if (this.RateCreateModel.Model.select && item?.refs?.model?.name) {
                    const check = this.RateCreateModel.Model.select.find(model => model.value == item.refs.model.uuid);
                    if (check == undefined) {
                        models.push({
                            label: item.refs.model.name,
                            value: item.refs.model.uuid
                        });
                    }
                    this.RateCreateModel.Model.select = models;
                    this.RateEditModel.Model.select = models;
                }

            });
        }

    }

    private created() {
        this.GetTariff();
        this.GetDevices()
    }

    private async OnSubmit(): Promise<void> {
        const validate: boolean = this.RateFormGenerator.CurrentForm.validate();

        if (validate) {
            const response = ApiHandbook.CreateTariff(ApiEnter.CurrentSessionUUID as string, this.RateCreateModel.Price.value as string, this.RateCreateModel.TariffType.value as string, this.RateCreateModel.Model.value as string, this.RateCreateModel.Name.value as string);
            this.NewRate = false;
            if (response) {
                sweetalert({
                    title: "Успех!",
                    text: `Тариф успешно добавлен`,
                    icon: "success"
                });
                this.GetTariff();
            } else {
                sweetalert({
                    title: "Ошибка",
                    text: `Тариф не был добавлен`,
                    icon: "error"
                });
            }
        }
    }

    ValidateTariffType(type: ETariffEnum.TariffType): void | string {
        if (type == ETariffEnum.TariffType.PerYear) {
            return "год";
        }
        if (type == ETariffEnum.TariffType.PerMonth) {
            return "месяц";
        }
    }

    private async DeactivateTariff(status: boolean, uuid: string): Promise<void> {
        const response = await ApiHandbook.TariffDeactivate(ApiEnter.CurrentSessionUUID as string, status, uuid);
    }

    private SetEditRateData(data: ITariffTableRow, model: IDeviceTableRow): void {
        this.RateEditModel.Price.value = data.price as any;
        this.RateEditModel.TariffType.value = data.type;
        this.RateEditModel.Name.value = data.name;
        this.RateEditModel.Status.value = data.status;
        this.RateEditModel.Model.value = model.uuid;
        this.EditData.date = data.create_at
        this.EditData.uuid = data.uuid
        this.EditRate = true;
    }

    private async OnSubmitEditRate(): Promise<void> {
        const validate: boolean = this.RateFormGeneratorEdit.CurrentForm.validate();
        if (validate) {
            const response = await ApiHandbook.TariffUpdate(ApiEnter.CurrentSessionUUID as string, this.EditData.uuid, this.RateEditModel.Price.value as string, this.RateEditModel.TariffType.value as string, this.RateEditModel.Model.value as string, this.RateEditModel.Name.value as string, this.RateEditModel.Status.value as any);
            this.GetTariff()
            this.EditRate = false
        }
    }


}
</script>
