<template>
    <div class="page-container">
        <standart-template>
            <div class="container">
                <div class="row" v-if="HasLoadedForm == false">
                    <div class="col-8 offset-2">
                        <v-progress-linear indeterminate color="cyan" />
                    </div>
                </div>
                <div v-else>
                    <div>
                        <v-breadcrumbs :items="Breadcrumbs" divider="/" />
                    </div>
                    <div class="row mt-10">
                        <div class="col-6">
                            <div class="col-12 pa-4 bg-white rounded-2 card-item">
                                <div class="h5">КЛИЕНТ</div>
                                <div class="row mt-1 ">
                                    <div class="col-2 card-item__left">
                                        <div>Имя</div>
                                        <div>Фамилия</div>
                                        <div>MSISDN</div>
                                        <div>Email</div>
                                    </div>
                                    <div class="col">
                                        <div>{{ CustomerInfo.first_name ? CustomerInfo.first_name : "-" }}</div>
                                        <div>{{ CustomerInfo.last_name ? CustomerInfo.last_name : "-" }}</div>
                                        <div>{{ CustomerInfo.phone ? CustomerInfo.phone : "-" }}</div>
                                        <div>{{ CustomerInfo.email ? CustomerInfo.email : "-" }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 pa-4 bg-white rounded-2 card-item">
                                <div class="h5">ИНФОРМАЦИЯ О ПОДПИСКЕ</div>
                                <div class="row mt-1  ">
                                    <div class="card-item__left col">
                                        <div>Тариф</div>
                                        <div>Дата регистрации</div>
                                        <div>Дата активации</div>
                                        <div>Дата окончания</div>
                                        <div>Дата след.платежа</div>
                                        <div>Статус</div>
                                    </div>
                                    <div class="col">
                                        <div>{{ TariffInfo.name }}</div>
                                        <div>{{ TariffInfo.create_at ? ValidateDate(TariffInfo.create_at) : "-" }}</div>
                                        <div>{{ TariffInfo.first_payment_at ? ValidateDate(TariffInfo.first_payment_at) : "-" }}</div>
                                        <div>{{ TariffInfo.last_payment_at ? ValidateDate(TariffInfo.last_payment_at) : "-" }}</div>
                                        <div>{{ TariffInfo.next_payment_at ? ValidateDate(TariffInfo.next_payment_at) : "-" }}</div>
                                        <div>{{ ValidateStatusText(TariffInfo.status) }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 pa-4 bg-white rounded-2 card-item">
                                <div class="h5">ПЛАТЕЖНАЯ ИНФОРМАЦИЯ</div>
                                <div class="mt-1">
                                    <div class="font-weight-medium" v-if="CardInfo.name">Привязанная карта оплаты: <span class="font-weight-regular" >{{ CardInfo.name }} {{ CardInfo.expire }} {{ CardInfo.type }} {{ValidateDate(CardInfo.create_at)}}</span></div>
                                    <div class="card-item__table">
                                        <v-data-table :items="TableItemsFinance" :headers="TableHeadersFinance">
                                            <template v-slot:item.entry.status="{ item }">
                                                {{ ValidatePaymentStatus(item.entry.status) }}
                                            </template>
                                            <template v-slot:item.entry.create_at="{ item }">
                                                {{ ValidateDate(item.entry.create_at) }}
                                            </template>
                                        </v-data-table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="col-12 pa-4 bg-white rounded-2 card-item">
                                <div class="h5">УСТРОЙСТВО</div>
                                <div class="row mt-1 ">
                                    <div class="col-2 card-item__left">
                                        <div>Модель</div>
                                        <div>IMEI</div>
                                        <div>UUID</div>
                                        <div>MSISDN</div>
                                    </div>
                                    <div class="col">
                                        <div>{{ ModelInfo.model_id ? ModelInfo.name + " " + ModelInfo.model_id : "-" }}</div>
                                        <div>{{ DeviceInfo.imei ? DeviceInfo.imei : "-" }}</div>
                                        <div>{{ DeviceInfo.uuid ? DeviceInfo.uuid : "-" }}</div>
                                        <div>{{ CustomerInfo.phone ? CustomerInfo.phone : "-" }}</div>

                                    </div>
                                </div>
                                <div class="mt-2">
                                    <v-btn color="red" class="text-white" small elevation="0" @click="DeclineSubscription">Отменить подписку</v-btn>
                                </div>
                            </div>

                            <div class="col-12 pa-4 bg-white rounded-2 card-item">
                                <div class="h5">ТЕСТЫ</div>
                                <div class="mt-1">
                                    <div class="font-weight-medium" v-if="TestTouchDate">Тест тачскрина <span class="font-weight-regular ml-9">Пройден {{ ValidateDate(TestTouchDate) }}</span></div>
                                    <div class="card-item__table">
                                        <v-data-table :items="TableItemsTest" :headers="TableHeadersTest">
                                            <template v-slot:item.entry.status="{ item }">
                                                <v-chip outlined :color="ValidateTestStatusColor(item.entry.status)">
                                                    {{ ValidateTestStatusText(item.entry.status) }}
                                                </v-chip>
                                            </template>
                                            <template v-slot:item.entry.create_at="{ item }">
                                                {{ ValidateDate(item.entry.create_at) }}
                                            </template>
                                            <template v-slot:item.entry.photo_uuids="{ item }">
                                                <div v-if="Array.isArray(item.entry.photo_uuids)">
                                                    <v-btn v-for="item in item.entry.photo_uuids" :key="item" icon @click="OpenPhoto(item, DeviceInfo.uuid)">
                                                        <v-icon>fas fa-camera</v-icon>
                                                    </v-btn>
                                                </div>
                                            </template>
                                        </v-data-table>
                                    </div>
                                    <div class="font-weight-medium row col-6">
                                        <div>
                                            <v-select :disabled="ChangeTestStatusModel == ApprovalTest || !TableItemsTest.length" chips v-model="ChangeTestStatusModel" label="Статус теста экрана:" :items="ChangeTestStatusOptions" @input="ChangeTestStatus" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <v-dialog
                                v-model="PhotoTestDialog"
                                max-width="600"
                            >
                                <v-card>
                                    <v-card-actions>
                                        <v-img contain :src="PhotoTest" />
                                    </v-card-actions>
                                </v-card>
                            </v-dialog>
                            <div class="col-12 pa-4 bg-white rounded-2 card-item">
                                <div class="h5 row">
                                    <div>ОБРАЩЕНИЕ В СЕРВИС
                                        <v-btn class="ml-5" color="primary" @click="NewIssue = true">
                                            Создать обращение
                                        </v-btn>
                                    </div>

                                </div>
                                <div class="mt-1">
                                    <div class="card-item__table">
                                        <v-data-table :items="TableItemsInsurance" :headers="TableHeadersInsurance">
                                            <template v-slot:item.entry.status="{ item }">
                                                {{ ValidateIssueStatusText(item.entry.status) }}
                                            </template>
                                            <template v-slot:item.entry.create_at="{ item }">
                                                <div class="text-primary cursor-pointer" @click="SetDataIssue(item.entry)">{{ ValidateDate(item.entry.create_at) }}</div>
                                            </template>
                                        </v-data-table>
                                    </div>
                                </div>
                            </div>
                            <v-dialog
                                v-model="NewIssue"
                                max-width="600"
                            >

                                <v-card>
                                    <v-card-title class="text-h5 flex justify-space-between">
                                        <div>Обращение в сервис</div>
                                        <v-btn icon @click="NewIssue = false">
                                            <v-icon>
                                                fas fa-times-circle
                                            </v-icon>
                                        </v-btn>

                                    </v-card-title>

                                    <!--                                    <v-card-text class="text-black"> Дата обращения: {{ ValidateDate(ChangeIssueDialog.create_at) }}</v-card-text>-->
                                    <v-card-text>
                                        <form-generator ref="form-generator-create-issue" :form-model="DataCreateIssue" />
                                    </v-card-text>
                                    <v-card-actions>
                                        <v-spacer />

                                        <v-btn
                                            color="grey text-white darken-1"
                                            @click="NewIssue = false"
                                        >
                                            Отмена
                                        </v-btn>
                                        <v-btn
                                            color="green text-white darken-1"
                                            @click="OnClickSubmitCreateIssue()"
                                        >
                                            Сохранить
                                        </v-btn>
                                    </v-card-actions>
                                </v-card>
                            </v-dialog>
                            <v-dialog
                                v-model="EditIssue"
                                max-width="600"
                            >
                                <v-card>
                                    <v-card-title class="text-h5 flex justify-space-between">
                                        <div>Обращение в сервис</div>
                                        <v-btn icon @click="EditIssue = false">
                                            <v-icon>
                                                fas fa-times-circle
                                            </v-icon>
                                        </v-btn>

                                    </v-card-title>

                                    <v-card-text class="text-black"> Дата обращения: {{ ValidateDate(ChangeIssueDialog.create_at) }}</v-card-text>
                                    <v-card-text class="text-black" v-if="ChangeIssueDialog.update_at"> Дата последнего обращения: {{ ValidateDate(ChangeIssueDialog.update_at) }}</v-card-text>
                                    <v-card-text>
                                        <form-generator ref="form-generator" :form-model="DataIssueDetails" />
                                    </v-card-text>
                                    <v-card-actions>
                                        <v-spacer />

                                        <v-btn
                                            color="grey text-white darken-1"
                                            @click="EditIssue = false"
                                        >
                                            Отмена
                                        </v-btn>
                                        <v-btn
                                            color="green text-white darken-1"
                                            @click="OnClickSubmitSaveIssue()"
                                        >
                                            Сохранить
                                        </v-btn>
                                    </v-card-actions>
                                </v-card>
                            </v-dialog>
                        </div>
                    </div>
                </div>
            </div>
        </standart-template>
    </div>
</template>

<script lang="ts">
import { Vue, Component, Ref } from "vue-property-decorator";
import StandartTemplate from "@/components/Template/StandartTemplate.vue";
import DataSubscribeView from "@/data/Subscribes/DataSubscribeView";
import TableHeaderItemType from "@/struct/ui/Table/TableHeaderItemType";
import BreadcrumbsItemType from "@/struct/ui/breadcrumbs/BreadcrumbsItemType";
import ApiHandbook from "@/api/ApiHandbook";
import ApiEnter from "@/api/ApiEnter";
import { ISubscriptionTableRow } from "@/struct/handbook/ISubscriptionTableRow";
import IEntryResponse from "@/struct/handbook/IEntryResponse";
import { ICustomerInfo, IDeviceInfo, ITariffInfo } from "@/struct/handbook/ISubscribeView";
import { ETariffEnum } from "@/struct/handbook/ESubscriptionEnum";
import { IPaymentHistoryTableRow } from "@/struct/handbook/IPaymentHistoryTableRow";
import { ITestTableRow } from "@/struct/handbook/ITestTableRow";
import { ETestEnum } from "@/struct/handbook/ETestEnum";
import TestStatus = ETestEnum.TestStatus;
import { EPaymentStatus } from "@/struct/handbook/EPaymentStatus";
import VSelectType from "@/struct/form/ISelect";
import { IDeviceIssueTableRow } from "@/struct/handbook/IDeviceIssueTableRow";
import sweetalert from "sweetalert";
import FormGenerator from "@/components/UI/Form/FormGenerator.vue";
import UtilDate from "@/util/Common/UtilDate";
import DataIssue from "@/data/Subscribes/DataIssue";
import { FormGeneratorListInputModelType } from "@/struct/form/FormGenerator/FormGeneratorListInputModelType";
import { Action, Getter } from "vuex-class";
import CompanyTableRowType from "@/struct/company/CompanyTableRowType";
import FormGeneratorSelectItemType from "@/struct/form/FormGenerator/FormGeneratorSelectItemType";
import { EDeviceIssue } from "@/struct/handbook/EDeviceIssue";
import ApiAdmin from "@/api/ApiAdmin";


@Component({
    components: { StandartTemplate, FormGenerator }
})
export default class SubscribeView extends Vue {

    private Breadcrumbs: BreadcrumbsItemType[] = DataSubscribeView.Breadcrumbs;
    private DataIssueDetails: FormGeneratorListInputModelType = DataIssue.DataIssueDialog;
    private DataCreateIssue: FormGeneratorListInputModelType = DataIssue.DataCreateIssue;

    private ValidateDate(date: string): string {
        return UtilDate.ValidateDate(date);
    }

    private EditIssue: boolean = false;
    @Ref("form-generator") private DataIssueFormGenerator!: FormGenerator;
    @Ref("form-generator-create-issue") private DataCreateIssueFormGenerator!: FormGenerator;
    @Getter("getCurrentCompanyList") private GetCurrentCompanyList!: CompanyTableRowType[] | undefined;
    @Action("doUpdateCurrentCompanyList") private DoUpdateCurrentCompanyList!: () => Promise<void>;

    private ApprovalTest = ETestEnum.TestStatus.Approval;

    private TableHeadersTest: TableHeaderItemType[] = DataSubscribeView.TableHeadersTest;
    private TableItemsTest: ITestTableRow[] = [];

    private TableHeadersFinance: TableHeaderItemType[] = DataSubscribeView.TableHeadersFinance;
    private TableItemsFinance: IPaymentHistoryTableRow[] = [];

    private TableHeadersInsurance: TableHeaderItemType[] = DataSubscribeView.TableHeadersInsurance;
    private TableItemsInsurance: IDeviceIssueTableRow[] = [];
    private NewIssue: boolean = false;
    private PhotoTestDialog: boolean = false;
    private PhotoTest: string = "";

    private CurrentSubscribeUUID!: string;
    private CustomerInfo: ICustomerInfo = {
        first_name: "...",
        email: "...",
        last_name: "...",
        phone: "...",
        uuid: "..."
    };
    private DeviceInfo: IDeviceInfo = {
        imei: "...",
        uuid: "...",
        name: "..."
    };
    private TariffInfo: ITariffInfo = {
        name: "...",
        create_at: "...",
        first_payment_at: "...",
        last_payment_at: "...",
        next_payment_at: "...",
        status: 0
    };

    private ChangeIssueDialog = {
        create_at: "",
        update_at: "",
        comment: "",
        uuid: ""
    };

    private ModelInfo = {
        model_id: "...",
        name: "..."
    };

    private TestTouchDate: string = "";
    private SubscribeUUID: string = "";

    private ChangeTestStatusModel: any = null;
    private LastTestUUID!: string;
    private ChangeTestStatusOptions: VSelectType[] = DataSubscribeView.ChangeStatusOptions;

    private HasLoadedForm: boolean = false;

    private CardInfo = {
        name: "",
        expire: "",
        type: "",
        create_at: ""
    };

    private async GetSubscribeInfo(): Promise<void> {
        const response: IEntryResponse<ISubscriptionTableRow> | any = await ApiHandbook.GetEntry(ApiEnter.CurrentSessionUUID as string, "subscription", this.CurrentSubscribeUUID);
        if (response != null) {
            try {
                console.log("response refs", response);
                if (response.refs.payment_method != null) {
                    this.CardInfo.name = response.refs?.payment_method?.name;
                    this.CardInfo.type = this.ValidateCardType(response.refs?.payment_method?.name);
                    this.CardInfo.expire = response.refs?.payment_method?.expire;
                    this.CardInfo.create_at = response.refs?.payment_method?.create_at;
                }
                this.CustomerInfo = response.refs.customer;
                this.SubscribeUUID = response.entry.uuid;
                this.DeviceInfo = response.refs.device;
                this.ModelInfo = response.refs.model;
                this.TariffInfo = response.refs.tariff;
                this.TariffInfo.next_payment_at = response.entry.next_payment_at;
                this.TariffInfo.last_payment_at = response.entry.last_payment_at;
                this.TariffInfo.first_payment_at = response.entry.first_payment_at;
                this.TariffInfo.status = response.entry.status;
                response.refs.model?.name ? this.DeviceInfo.name = response.refs.model?.name : null;
                this.HasLoadedForm = true;
                this.$forceUpdate();
            } catch (e) {
                console.error(e);
            }

        }

    }

    private async LoadTable(): Promise<void> {
        try {
            await this.GetSubscribeInfo();

            await this.GetTests();

            await this.GetIssue();

            await this.GetPayment();
        } catch (e) {
            console.error(e);
        }


    }

    private ValidateCardType(number: string): string {
        if (number.startsWith("2")) {
            return "МИР";
        }
        if (number.startsWith("4")) {
            return "VISA";
        }
        if (number.startsWith("5")) {
            return "MasterCard";
        }
        return "";
    }

    private async GetPayment(): Promise<void> {
        const response_payment_history: IEntryResponse<IPaymentHistoryTableRow>[] | any = await ApiHandbook.GetList(ApiEnter.CurrentSessionUUID as string, "payment_history", "customer", this.CustomerInfo.uuid);
        if (response_payment_history.length) {


            this.TableItemsFinance = response_payment_history;
        }
    }

    private async GetTests(): Promise<void> {
        const response_test: IEntryResponse<ITestTableRow>[] | any = await ApiHandbook.GetList(ApiEnter.CurrentSessionUUID as string, "test", "customer", this.CustomerInfo.uuid);
        if (response_test.length) {
            this.TestTouchDate = response_test[0].entry.touch_finish_at;
            this.TableItemsTest = response_test;
            this.ChangeTestStatusModel = response_test[0].entry.status;
            response_test[0].entry.photo_uuids ? response_test[0].entry.photo_uuids = response_test[0].entry.photo_uuids.split(",") : void 0;
            this.LastTestUUID = response_test[0].entry.uuid;
            this.$forceUpdate();
        }
    }

    private async GetIssue(): Promise<void> {
        const response_device_issue: IEntryResponse<IDeviceInfo>[] | any = await ApiHandbook.GetList(ApiEnter.CurrentSessionUUID as string, "device_issue", "customer", this.CustomerInfo.uuid);
        if (response_device_issue) {
            this.TableItemsInsurance = response_device_issue;
            this.$forceUpdate();
        }
    }

    private created() {
        this.CurrentSubscribeUUID = this.$route.params.subscribe_uuid;
        this.LoadTable();
        this.DoUpdateCurrentCompanyList();
        this.SetSelectIssueCompanies();

    }

    private SetSelectIssueCompanies(): void {
        if (this.GetCurrentCompanyList) {
            const data: FormGeneratorSelectItemType[] | undefined = [];
            this.GetCurrentCompanyList.forEach(item => {
                data.push({
                    label: item.name,
                    value: item.uuid
                });
            });
            this.DataIssueDetails.ServiceProcess.select = data;
            this.DataCreateIssue.ServiceProcess.select = data;
        }

    }

    private ValidateStatusText(status: number): string | void {
        if (status == ETariffEnum.SubscriptionStatus.Pending) {
            return "В обработке";
        }
        if (status == ETariffEnum.SubscriptionStatus.Refund) {
            return "Возврат оплаты";
        }
        if (status == ETariffEnum.SubscriptionStatus.Cancel) {
            return "Отменена";
        }
        if (status == ETariffEnum.SubscriptionStatus.Active) {
            return "Активная";
        }
        if (status == ETariffEnum.SubscriptionStatus.EndTime) {
            return "Приостановлена";
        }
        if (status == ETariffEnum.SubscriptionStatus.Finish) {
            return "Остановлена";
        }


    }

    private ValidatePaymentStatus(status: number): string | void {
        if (status == EPaymentStatus.PaymentStatus.Success) {
            return "Оплачен";
        }
        if (status == EPaymentStatus.PaymentStatus.Pending) {
            return "В процессе";
        }
        if (status == EPaymentStatus.PaymentStatus.Refund) {
            return "Возврат";
        }
        if (status == EPaymentStatus.PaymentStatus.Failed) {
            return "Неуспешный";
        }
    }

    private ValidateTestStatusColor(status: number): string | void {
        if (status == TestStatus.Cancel) {
            return "red";
        }
        if (status == TestStatus.Pending) {
            return "orange";
        }
        if (status == TestStatus.Created) {
            return "primary";
        }
        if (status == TestStatus.Decline) {
            return "red";
        }
        if (status == TestStatus.Approval) {
            return "green";
        }
    }

    private ValidateTestStatusText(status: number): string | void {
        if (status == TestStatus.Cancel) {
            return "Отклонен";
        }
        if (status == TestStatus.Decline) {
            return "Повторный тест";
        }
        if (status == TestStatus.Pending) {
            return "В обработке";
        }
        if (status == TestStatus.Created) {
            return "Создан";
        }
        if (status == TestStatus.Approval) {
            return "Пройден";
        }
    }

    private ValidateIssueStatusText(status: EDeviceIssue.DeviceIssueStatus): string | void {
        if (status == EDeviceIssue.DeviceIssueStatus.IssueSuccess) {
            return "Произведена замена";
        }
        if (status == EDeviceIssue.DeviceIssueStatus.IssueCreated) {
            return "Заявка";
        }
        if (status == EDeviceIssue.DeviceIssueStatus.IssueIsBad) {
            return "Отказ";
        }
    }

    private async ChangeTestStatus(): Promise<void> {
        const response = await ApiHandbook.ChangeStatusTest(ApiEnter.CurrentSessionUUID as string, this.ChangeTestStatusModel, this.LastTestUUID);
        if (response) {
            this.GetTests();
            this.GetSubscribeInfo();
            sweetalert({
                title: "Успех!",
                text: "Статус теста успешно поменян",
                icon: "success"
            });
        } else {
            sweetalert({
                title: "Ошибка!",
                text: "Не получилось поменять статус теста",
                icon: "error"
            });
        }
    }


    private async SetDataIssue(data: IDeviceIssueTableRow): Promise<void> {
        this.ChangeIssueDialog.create_at = data.create_at;
        this.ChangeIssueDialog.uuid = data.uuid;
        this.ChangeIssueDialog.update_at = data.update_at;
        this.DataIssueDetails.Status.value = data.status as any;
        this.DataIssueDetails.Description.value = data.first_description;
        this.DataIssueDetails.ServiceProcess.value = data.company_uuid as any;
        this.EditIssue = true;
    }

    private async OnClickSubmitSaveIssue(): Promise<void> {
        const validate: boolean = this.DataIssueFormGenerator.CurrentForm.validate();
        if (validate) {
            await ApiHandbook.UpdateDeviceIssue(ApiEnter.CurrentSessionUUID as string, this.ChangeIssueDialog.uuid, this.DataIssueDetails.Status.value as any, this.DataIssueDetails.ServiceProcess.value as string, this.DataIssueDetails.Description.value as string);
            this.EditIssue = false;
            await this.GetIssue();
        }
    }

    private async OnClickSubmitCreateIssue(): Promise<void> {
        const validate: boolean = this.DataCreateIssueFormGenerator.CurrentForm.validate();
        if (validate) {
            await ApiHandbook.CreateIssue(ApiEnter.CurrentSessionUUID as string, this.DeviceInfo.uuid, this.DataCreateIssue.Status.value as any, this.DataCreateIssue.Description.value as string, this.DataCreateIssue.ServiceProcess.value as string, this.CustomerInfo.phone);
            this.NewIssue = false;
            await this.GetIssue();
        }
    }

    private async DeclineSubscription(): Promise<void> {
        sweetalert({
            title: "Вы уверены?",
            text: "Вы дейсвительно хотите отменить подписку?",
            icon: "warning",
            buttons: ["Нет, Отмена!", "Да, Подтверждаю!"]
        }).then(async isConfirm => {
            if (isConfirm == true) {
                const response = await ApiAdmin.DeclineSubscription(ApiEnter.CurrentSessionUUID as string, this.SubscribeUUID);
                if (typeof response == "boolean") {
                    sweetalert({
                        title: "Успешно!",
                        text: "Подписка отменена",
                        icon: "success"
                    });

                    this.$router.replace("/subscribe-list");
                } else {
                    sweetalert({
                        title: "Ошибка!",
                        text: `Во время выполнения запроса, возникла ошибка: ${response}`,
                        icon: "error"
                    });
                }
            }
        });
    }

    private OpenPhoto(uuid: string, device_uuid: string): void {
        const url = "/files/test_photo/" + device_uuid + "/" + uuid.substr(0, 1) + "/" + uuid.substr(1, 1) + "/" + uuid + ".jpg";
        this.PhotoTest = url;
        this.PhotoTestDialog = true;
    }


}
</script>
<style lang="less">
.card-item {
    font-size: 14px;
    line-height: 25px;
    margin-top: 0.66rem;

    &__left {
        max-width: 300px;
        width: 200px;
        font-weight: 600;
    }

    &__table {
        max-height: 300px;
        overflow-y: auto;
    }
}
</style>
