<template>
    <div class="page-container">
        <standart-template>
            <div class="container">
                <div class="row mt-1">
                    <v-breadcrumbs :items="Breadcrumbs" divider="/" />
                    <page-header title="Список подписок" />
                </div>
                <div class="col-12 mt-7 px-6">
                    <div class="row white elevation-1 rounded">
                        <div class="col-12 pa-1 d-flex">
                            <div class="col-3">
                                <v-select
                                    label="Модель устройства"
                                    :items="TableItems"
                                    v-model="FilterTable.phoneModel"
                                    clearable
                                    item-text="refs.model.name"
                                    item-value="refs.model.name"
                                    hide-details
                                    @click:clear="FilterTable.phoneModel = null"
                                ></v-select>
                            </div>
                            <div class="col-3 ml-6">
                                <v-select
                                    label="Статус подписки"
                                    v-model="FilterTable.status"
                                    :items="FiltersData.paymentStatus"
                                    item-text="text"
                                    clearable
                                    item-value="value"
                                    hide-details
                                    @click:clear="FilterTable.status = null"
                                ></v-select>
                            </div>
                            <div class="col-3 ml-6">
                                <v-select
                                    label="Статус теста экрана"
                                    v-model="FilterTable.screenStatus"
                                    :items="FiltersData.screenStatus"
                                    item-text="text"
                                    clearable
                                    item-value="value"
                                    hide-details
                                    @click:clear="FilterTable.screenStatus = null"
                                ></v-select>
                            </div>
                        </div>
                        <div class="col-12 pa-1 d-flex">
                            <div class="col-3">
                                <v-menu
                                    v-model="IsOpenDateFrom"
                                    :close-on-content-click="false"
                                    :nudge-right="40"
                                    transition="scale-transition"
                                    offset-y
                                    min-width="auto"
                                >
                                    <template v-slot:activator="{ on, attrs }">
                                        <v-text-field
                                            v-model="FilterTable.dateFrom"
                                            label="Дата с"
                                            clearable
                                            hide-details
                                            prepend-icon="far fa-calendar"
                                            readonly
                                            v-bind="attrs"
                                            v-on="on"
                                            @click:clear="FilterTable.dateFrom = null"
                                        ></v-text-field>
                                    </template>
                                    <v-date-picker
                                        v-model="FilterTable.dateFrom"
                                        @input="IsOpenDateFrom = false"
                                    ></v-date-picker>
                                </v-menu>
                            </div>
                            <div class="col-3">
                                <v-menu
                                    v-model="IsOpenDateTo"
                                    :close-on-content-click="false"
                                    :nudge-right="40"
                                    transition="scale-transition"
                                    offset-y
                                    min-width="auto"
                                >
                                    <template v-slot:activator="{ on, attrs }">
                                        <v-text-field
                                            v-model="FilterTable.dateTo"
                                            label="Дата по"
                                            hide-details
                                            clearable
                                            prepend-icon="far fa-calendar"
                                            readonly
                                            сlass="pa-0"
                                            v-bind="attrs"
                                            v-on="on"
                                            @click:clear="FilterTable.dateTo = null"
                                        ></v-text-field>
                                    </template>
                                    <v-date-picker
                                        v-model="FilterTable.dateTo"
                                        @input="IsOpenDateTo = false"
                                    ></v-date-picker>
                                </v-menu>
                            </div>
                        </div>
                        <div class="col-3">
                            <v-btn
                                depressed
                                   color="success"
                                   class="text-capitalize"
                                   @click="SetTableFilter"
                            >Применить</v-btn>
                        </div>
                    </div>
                </div>

                <div class="mt-1 col-12">
                    <v-data-table dense :headers="TableHeaders" :items="TableItems" :items-per-page="15" item-key="id" class="elevation-1">
                        <template v-slot:item.refs.customer.phone="{item}">
                            <router-link :to="'subscribe/' + item.entry.uuid">
                                {{ item.refs.customer.phone }}
                            </router-link>
                        </template>
                        <template v-slot:item.entry.status="{ item }">
                            <v-chip text-color="white" :color="ValidateStatusColor(item.entry.status)">
                                {{ ValidateStatusText(item.entry.status) }}
                            </v-chip>
                        </template>
                        <template v-slot:item.entry.create_at="{ item }">
                            {{ ValidateDate(item.entry.create_at) }}
                        </template>
                        <template v-slot:item.refs.test.status="{ item }">
                            <v-chip v-if="item.refs.test" outlined :color="ValidateTestStatusColor(item.refs.test.status)">
                                {{ ValidateTestStatusText(item.refs.test.status) }}
                            </v-chip>
                        </template>
                        <template v-slot:item.refs.model.name="{ item }">
                            {{ item.refs.model.name + " " + item.refs.model.model_id }}
                        </template>
                    </v-data-table>
                </div>
            </div>
        </standart-template>
    </div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import StandartTemplate from "@/components/Template/StandartTemplate.vue";
import PageHeader from "@/components/UI/PageHeader.vue";

import TableHeaderItemType from "@/struct/ui/Table/TableHeaderItemType";
import DataSubscribeList from "@/data/Subscribes/DataSubscribeList";
import BreadcrumbsItemType from "@/struct/ui/breadcrumbs/BreadcrumbsItemType";
import ApiHandbook from "@/api/ApiHandbook";
import ApiEnter from "@/api/ApiEnter";

import { ISubscriptionTableRow } from "@/struct/handbook/ISubscriptionTableRow";
import { ETariffEnum } from "@/struct/handbook/ESubscriptionEnum";
import IEntryResponse from "@/struct/handbook/IEntryResponse";
import UtilApp from "@/util/Common/UtilApp";
import UtilDate from "@/util/Common/UtilDate";
import { ETestEnum } from "@/struct/handbook/ETestEnum";
import TestStatus = ETestEnum.TestStatus;

@Component({
    components: { StandartTemplate, PageHeader }
})
export default class SubscribeList extends Vue {
    // private TableHeaders: TableHeaderItemType[] = DataSubscribeList.TableHeaders;
    private Breadcrumbs: BreadcrumbsItemType[] = DataSubscribeList.Breadcrumbs;
    private TableItems: IEntryResponse<ISubscriptionTableRow>[] | boolean = [];

    private FiltersData: any = {
        paymentStatus: [
            {text: 'В обработке', value: 0},
            {text: 'Возврат оплаты', value: 1},
            {text: 'Отменена', value: 2},
            {text: 'Активная', value: 3},
            {text: 'Приостановлена', value: 4},
            {text: 'Остановлена', value: 5}
        ],
        screenStatus: [
            {text: 'Создан', value: 0},
            {text: 'В обработке', value: 1},
            {text: 'Пройден', value: 2},
            {text: 'Повторный тест', value: 3},
            {text: 'Отклонен', value: 4}
        ]
    }

    private FilterTable = {
        phoneModel: null,
        status: null,
        screenStatus: null,
        dateFrom: null,
        dateTo: null
    }

    private IsOpenDateFrom: boolean = false
    private IsOpenDateTo: boolean = false

    private DateFrom: Date | null = null
    private DateTo: Date | null = null
    private PhoneModelFilterValue: string | null = null
    private StatusFilterValue: number | null = null
    private ScreenStatusFilterValue: number | null = null

    get TableHeaders(): TableHeaderItemType[] {
        return [
            {
                text: "№ Подписки",
                value: "entry.id",
            },
            {
                text: "Дата",
                value: "entry.create_at",
                filter: value => {
                    return this.DateFrom && this.DateTo !== null ? value >= this.DateFrom && value <= this.DateTo : true;
                }
            },
            {
                text: "MSISDN",
                value: "refs.customer.phone"
            },
            {
                text: "Тариф",
                value: "refs.tariff.name"
            },
            {
                text: "Устройство",
                value: "refs.model.name",
                filter: value => {
                    return this.PhoneModelFilterValue !== null ? this.PhoneModelFilterValue === value : true;
                }
            },
            {
                text: "IMEI",
                value: "refs.device.imei"
            },
            {
                text: "Статус подписки",
                value: "entry.status",
                filter: value => {
                    return this.StatusFilterValue !== null ? this.StatusFilterValue === value : true;
                }
            },
            {
                text: "Статус теста экрана",
                value: "refs.test.status",
                filter: value => {
                    return this.ScreenStatusFilterValue !== null ? this.ScreenStatusFilterValue === value : true;
                }
            }
        ]
    }

    private SetTableFilter() {
        this.PhoneModelFilterValue = this.FilterTable.phoneModel
        this.StatusFilterValue = this.FilterTable.status
        this.ScreenStatusFilterValue = this.FilterTable.screenStatus
        this.DateFrom = this.FilterTable.dateFrom
        this.DateTo = this.FilterTable.dateTo
    }

    private async GetSubscribes(): Promise<void> {
        const response: IEntryResponse<ISubscriptionTableRow>[] | boolean = await ApiHandbook.GetList(ApiEnter.CurrentSessionUUID as string, "subscription");
        if (response != false) {
            console.log("response", response);
            this.TableItems = response;
            UtilApp.ForceUpdatePage(this);

        }
    }

    private ValidateDate(date: string): string {
        return UtilDate.ValidateDate(date);
    }

    private created() {
        this.GetSubscribes();
    }

    private ValidateStatusColor(status: number): string | void {
        if (status == ETariffEnum.SubscriptionStatus.Pending) {
            return "orange";
        }
        if (status == ETariffEnum.SubscriptionStatus.Refund) {
            return "orange";
        }
        if (status == ETariffEnum.SubscriptionStatus.Cancel) {
            return "red";
        }
        if (status == ETariffEnum.SubscriptionStatus.Active) {
            return "green";
        }
        if (status == ETariffEnum.SubscriptionStatus.EndTime) {
            return "grey";
        }
        if (status == ETariffEnum.SubscriptionStatus.Finish) {
            return "grey";
        }

    }

    private ValidateStatusText(status: number): string | void {
        if (status == ETariffEnum.SubscriptionStatus.Pending) {
            return "В обработке";
        }
        if (status == ETariffEnum.SubscriptionStatus.Refund) {
            return "Возврат оплаты";
        }
        if (status == ETariffEnum.SubscriptionStatus.Cancel) {
            return "Отменена";
        }
        if (status == ETariffEnum.SubscriptionStatus.Active) {
            return "Активная";
        }
        if (status == ETariffEnum.SubscriptionStatus.EndTime) {
            return "Приостановлена";
        }
        if (status == ETariffEnum.SubscriptionStatus.Finish) {
            return "Остановлена";
        }
    }

    private ValidateTestStatusColor(status: number): string | void {
        if (status == TestStatus.Cancel) {
            return "red";
        }
        if (status == TestStatus.Pending) {
            return "orange";
        }
        if (status == TestStatus.Created) {
            return "primary";
        }
        if (status == TestStatus.Decline) {
            return "red";
        }
        if (status == TestStatus.Approval) {
            return "green";
        }
    }

    private ValidateTestStatusText(status: number): string | void {
        if (status == TestStatus.Cancel) {
            return "Отклонен";
        }
        if (status == TestStatus.Decline) {
            return "Повторный тест";
        }
        if (status == TestStatus.Pending) {
            return "В обработке";
        }
        if (status == TestStatus.Created) {
            return "Создан";
        }
        if (status == TestStatus.Approval) {
            return "Пройден";
        }
    }


}
</script>
